body
{
    background-color: blue;
}
h1
{
    text-align: center;
    font-size: 100px;
    color: rgb(21, 235, 67);
}

img{
    width: 200px;
    height: 200px;
margin: 30px auto;
display: block;
}
.banner
{
background-color: aquamarine;
padding-bottom: 10px;
}
p{
    text-align: center;
    color: aquamarine;
    font-size: 100px;
    font-weight: 200;
}

